backend/node_modules/

# React related files
node_modules/
build/
dist/
*.log
.cache/
public/

# Dependency directories
jspm_packages/
bower_components/

# dotenv environment variables file
.env
.env.test
.env.production

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Mac OS specific files
.DS_Store

# Windows specific files
Thumbs.db

# VS Code settings
.vscode/

# WebStorm settings
.idea/

# Next.js build output
.next/
out/

# Parcel bundler cache
.cache
.parcel-cache

# Storybook
storybook-static/

# Additional custom directories
myenv/

# Python specific files and directories
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.eggs/
*.pyo

# Virtualenv
venv/
env/
.myenv/
virtualenv/

# pipenv
Pipfile.lock

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# pylint
pylint-report.txt
pylint.log

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
test/__pycache__/
tests/__pycache__/
.tox/
.nox/
.cache/
coverage/

# Deployment
.pyre/
.mypy_cache/
.mypy/
scrapy.cfg
celerybeat-schedule
celerybeat.pid

# Sphinx documentation
docs/_build/
